@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luckiest+Guy&family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Shojumaru&display=swap');

/*FONTES PREDEFINIDAS*/
:root{
--fonte-title--:"Dongle";
--fonte-subtitle--:"Mochiy Pop P One";
--fonte-buttom--:"Lobster";
}
/*ZERANDO VALORES PADROES*/
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/*SUAVIDADE NA ROLAGEM DO SCROLL*/
html{
  scroll-behavior: smooth;
}
/*ALTERANDO SCROLL DA PAGINA*/
body::-webkit-scrollbar{
  width: 1.3rem;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(172, 124, 98);
  border-radius: .4rem;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
/*TITULO PADRAO DE TODAS AS SESSOES*/
.title-section{
  color: #fff;
  font-family: var(--fonte-title--);
  font-size: 70px;
  text-align: center;
  color: rgb(153, 119, 74);
}

/*ELEMENTO PAI DO MENU*/
.menu-speed{
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: rgb(0, 0, 0);
  color: #ffff;
  z-index: 1;
}
.element-search{
  position: absolute;
  top: 4rem;
  right: 3rem;
  outline: none;
  height: 2rem ;
  transform: translate3d(100rem,0,0);
  width: 15rem;
  transition: all .4s;
  opacity: 0;
}
.element-search::placeholder{
  color: #000;
}
.element-search.display{
  opacity: 1;
  transform: translate3d(0,0,0);
}
/*ITENS CARRINHO*/
.itens-car{
  height: 90vh;
  overflow-y: auto;
  width: 90%;
  top: 4rem;
  position: absolute;
  background-color: rgb(69, 69, 75);
  right: 0;
  opacity: 0;
  z-index: 1;
  transition: all .4s;
  transform: translate3d(80rem,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.qtd-car{
  color: #fff;
}
.itens-car.car-div{
  transform: translate3d(0,0,0);
  opacity: 1;
}
.itens-car>.total{
  font-family: var(--fonte-title--);
  font-size:20px;
  position: absolute;
  top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.itens-car::-webkit-scrollbar{
  width: 1rem;
}
.itens-car::-webkit-scrollbar-thumb{
  background-color: rgb(86, 92, 104);
}
.itens-car::-webkit-scrollbar-track{
  background-color: rgb(58, 79, 100);
  border-radius: .4rem;
}
.total>li{
  position: relative;
  top: 3rem;
  background-color: rgb(58, 58, 75);
  margin: .4rem;
  padding: 1rem 2rem;
  border-radius: .4rem;
  border: solid 1px #fff;
}
.total{
  position: relative;
  width: 100%;
}
.carrinho-compras{
  position: absolute;
  top: 1.2rem;
  width: 100%;
}
.remover{
  border: none;
  padding:.5rem .5rem ;
  color: red;
  border-radius: .3rem;
  background-color:#000;
  cursor: pointer;
}
.compra-total-card-wrapper{
  position: absolute;
  top: 0;
  height: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(37, 46, 49);
  display: flex;
  font-family: var(--fonte-title--);
  font-size: 20px;
}
.total-preco{
  margin: 1rem;
}
.finalizar-compra{
  position: absolute;
  top: .4rem;
  right: 2rem;
}
.finalizar-compra>button{
  border: none;
  padding: .2rem .2rem;
  color: #fff;
  outline: none;
  transition: .2s;
  cursor: pointer;
  font-family: var(--fonte-subtitle--);
  background-color: rgba(81, 81, 151, 0.667);
  border-radius: 3px;
}
.finalizar-compra>button:hover{
  transform: scale(1.1);
  color:rgba(81, 81, 151, 0.667) ;
  background-color: #fff;
}
.img-logo{
  cursor: pointer;
}
/*ITENS DO MENU FILHO*/
.menu-bar{
  display: none;
}
.itens-menu{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*ELEMENTOS A DO ITENS MENU*/
.menu-speed>.links-menu>a{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  margin: 2rem;
  font-family:var(--fonte-title--);
  color: #ffff;
  text-transform:capitalize;
  transition: all .4s;
  text-decoration: none;
}
.links-menu>a:hover{
  text-decoration: underline;
}
/*ICONES DOS ITENS MENU*/
.menu-speed>.icones-car-busca>i{
  margin: 1rem;
  cursor: pointer;
  font-size: 20px;
  transition: all .4s;
}
.fa-cart-plus{
  cursor: pointer;
  transition: all .4s;
}

.fa-cart-plus:hover{
  transform: scale(1.4);
}

/*LOGO PAGINA*/
.itens-menu>img{
  border-radius: .4rem;
  width: 50px;
  float: right;
}
/*ANIMAÇÃO NOS ELEMENTOS DO MENU*/
.menu-speed>.links-menu>a:hover,
.menu-speed>.icones-car-busca>i:hover{
  transform: scale(1.4);
}

/*SESSAO HEADER*/

.sessao-header{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
.header-info{
  height: 100%;
  width: 100%;
}

.header-info>img{
  animation: anima-img-header 10s infinite;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .4 ;
}
@keyframes anima-img-header{
  0%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}
.descri-header{
  position: absolute;
  top: 15rem;
  left: 5rem;
}
.descri-header>h1{
  color: #ffff;
  font-size: 30px;
  font-family: var(--fonte-subtitle--);
}
.descri-header>p{
  font-size: 40px;
  font-family: var(--fonte-title--);
  color: #ffff;
  margin: .4rem 0;
}
.descri-header>a{
  display: block;
  font-size: 25px;
  font-family: var(--fonte-title--);
  background-color: #fff;
  color: #000;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border: solid 1px #fff;
  width: 30%;
  padding:.4rem;
  border-radius: .4rem;
  transition: all .1s;
}
.descri-header>a:hover{
  background-color: transparent;
  color: #fff;

}

/*SESSAO PRINCIPAL - SOBRE*/

.sessao-principal{
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 32, 39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/*DATA ANIME - ANIMACAO*/
[data-anime]{
  opacity: 0;
  transition: all .7s;
}
[data-anime="left"]{
  transform: translate3d(-200rem,0,0);
}
[data-anime="right"]{
  transform: translate3d(200rem,0,0);
  
}
[data-anime="bottom"]{
  transform: translate3d(0,100rem,0);
}

[data-anime="top"]{
  transform: translate3d(0,-100rem,0);
}


[data-anime].animacao{
  transform: translate3d(0,0,0);
  opacity: 1; 
}
.card-wrapper-sobre{
  position: relative;
  width: 90%;
  height: 30rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-wrapper-sobre>.img-card{
  position: relative;
  height: 100%;
  object-fit: cover;
}
.card-wrapper-sobre>.img-card>img{
  height: 100%;
  border-radius: .4rem;
}

.card-wrapper-sobre>.descri-card-sobre>p{
  margin: 30px;
  color: #fff;
  font-family: var(--fonte-subtitle--);
}
.descri-card-sobre>a{
  display: block;
  width: 8rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--fonte-buttom--);
  color: #fff;
  padding: .4rem .4rem;
  border-radius: .4rem;
  margin: 30px;
  background-color: rgb(84, 106, 181);
  transition: all .4s;
}
.descri-card-sobre>a:hover{
  transform:scale(1.2)
}
/*SESSAO MENU*/
.sessao-menu{
  height: 120vh;
  width: 100%;
  background-color: rgb(31, 32, 39);
  overflow: hidden;
}

.card-wrapper-gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-wrapper-gallery>.card{
  background-color: rgba(87, 71, 71, 0.227);
  width: 30%;
  height: 15rem;
  display: flex;
  margin:.5rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .4rem;
  transition: .5s;
}
.card-wrapper-gallery>.card:hover{
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}

.card-wrapper-gallery>.card>h4{
  font-family: var(--fonte-title--);
  font-size: 30px;
}
.card-wrapper-gallery>.card>p{
  font-family: var(--fonte-subtitle--);
}
.card-wrapper-gallery>.card>button{
  border: none;
  background-color: #07a;
  width: 50%;
  padding: .4rem .4rem;
  cursor: pointer;
  border-radius: .3rem;
  color: #fff;
  font-family: var(--fonte-buttom--);
  font-size: 15px;
  margin: 10px;
}

/*SESSAO LOCALIZACAO*/

.sessao-contato{
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 32,39);
  display: flex;
  flex-direction: column;
  align-items: center;
}
iframe{
  border-radius: .4rem;
  transition: all .4s;
  width: 100%;
}
.mapa-local-contato{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario-contato{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(38, 38, 38);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-logo-site{
  position: absolute;
  top: 1rem;
}

.info-form{
  position: absolute;
  top: 5rem;
  width: 60%;
  padding: .4rem .4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info-form>input{
  color: #fff;
  font-family: var(--fonte-title--);
  border: none;
  padding: .4rem .4rem;
  font-size: 20px;
  margin: .5rem;
  outline: none;
  background: transparent;
  border-bottom: dashed rgb(255, 255, 255);
}
::placeholder{
  color: #fff;
  font-family: var(--fonte-title--);
  font-size: 20px;
}
.info-form>input[type="submit"]{
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: rgb(52, 110, 135);
  border-radius: .2rem;
  padding: .5rem .5rem;
}
.info-form>.name-login-options{
  color: #fff;
  margin: 1rem;
  font-family: var(--fonte-subtitle--);
}
.name-login-options::after,
.name-login-options::before{
  content: "";
  width: 1rem;
  align-items: center;
  height: 1px;
  margin: 4px;
  display: inline-block;
  background-color: #fff;
}

.contato-redes{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contato-redes>.facebook-login>button{
  display: flex;
  border: none;
  cursor: pointer;
  background-color: rgb(12, 14, 73);
  color: #fff;
  width: 10rem;
  text-shadow: 1px 1px 1px #000;
  border-radius:.4rem ;
  font-family: var(--fonte-buttom--);
  padding: .7rem .4rem;
  transition: all .4s;
}
.facebook-login>button>i{
  margin: 0 5px;
  font-size: 20px;
}

.contato-redes>.google-login>button{
  display: flex;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 10rem;
  font-family: var(--fonte-buttom--);
  border-radius:.4rem ;
  padding: .6rem .4rem;
  text-shadow: 1px 1px 1px #000;
  background-color: burlywood;
  color: #fff;
  transition: all .4s;
}
.google-login>button:hover,
.facebook-login>button:hover{
  transform:scale(1.1);
}
.google-login>button>i{
  margin: 0 5px;
  font-size: 15px;
}

.esqueci-senha{
  background: transparent;
  border: none;
  color: #fff;
  font-family: var(--fonte-buttom--);
  font-size: 15px;
  cursor: pointer;
}
.esqueci-senha:hover{
  text-decoration: underline;
}
/*FOOTER PAGE*/
.rodape-site{
  width: 100%;
  height: 15rem;
  overflow: hidden;
  background-color: rgb(26, 26, 26);
  color: #fff;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-title--);
  font-size: 20px;
}
.redes-footer>a{
  cursor: pointer;
  margin: 1rem ;
  text-decoration: none;
  color: #fff
  ;
}

.btn_voltar_port{
  display: block;
  border: none;
  background-color: rgb(37, 39, 53);
  width: 6rem ;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: .4rem .4rem;
  border-radius: .4rem;
  color: #fff;
  transition: all .4s;
  margin: 1rem 0;
  text-decoration: none;
}
.btn_voltar_port:hover{
  transform: scale(1.1);
}


@media(max-width:1109px){
  .card-wrapper-sobre{
    flex-direction: column;
    text-align: center;
  }
  .descri-card-sobre{
    font-size: 15px;
    text-align: center;
    display: flex;  
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width:979px){
  .sessao-menu{
    height: 100vh;
  }   
}
@media(max-width:898px){
  .sessao-contato{
    height: 150vh;
  }
  iframe{
    height:50%;
  }
  .mapa-local-contato{
    flex-direction: column;
  }
  .formulario-contato{
    height: 40rem;
    }
    
}

@media(max-width:819px){
 .sessao-menu{
   height: 150vh;
 }
 .sessao-menu>.card-wrapper-gallery>.card{
   width: 40%;
 }
}

@media(max-width:778px){
  .links-menu{
    display: none;
  }
  
  #icone-cart{
    display: block;
    cursor: pointer;
  }
  .icones-car-busca{
    display: none;
  }
  .menu-speed{
    display: flex;
    justify-content: space-around;
  }
  .menu-bar{
    display: block;
    width: 2.4rem;
    height: 1rem;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  .menu-bar>.lines{
    width: 2rem;
    margin:3px;
    height: .1rem;
    background-color: #fff;
  }
  .links-menu.menu-animation{
    display: flex;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 4rem;
    height: 100vh;
  }
}

@media(max-width:723px){
  .header-info>.descri-header>h1,.descri-header>p{
    font-size: 20px;
  }
  .descri-header>a{
    font-size:15px;
    padding: .3rem .3rem;
  }
  .card-wrapper-gallery{
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width:532px){
  
  .card-wrapper-sobre>.img-card>img{
    width:90%;
  }
  .card-wrapper-gallery>.card>.title-card,
  .card-wrapper-gallery>.card>.value-element{
    font-size:15px;
  }
  .card-wrapper-gallery>.card>button{
    width: 90%;
    font-size: 10px;
    
  }
  .finalizar-compra{
    left: 0;
    width: 10%;
  }
  
}